In [42]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [43]:
df = pd.read_csv("friends.csv")

In [44]:
df.head()

,Adverbial Clause,Main clause,Total,Polarity,Subjectivity,Iconicity followed
0,4,11,15,0.00,0.000,0
1,8,19,27,0.05,0.233,1
2,6,9,15,0.00,0.050,0
3,12,6,18,0.50,0.500,1
4,12,6,18,0.50,0.500,1

In [45]:
X = df.iloc[:, 2:5]

In [46]:
X

    Total  Polarity  Subjectivity
0      15      0.00         0.000
1      27      0.05         0.233
2      15      0.00         0.050
3      18      0.50         0.500
4      18      0.50         0.500
..    ...       ...           ...
94     32      0.00         0.000
95      8      0.00         0.000
96     24      0.40         1.000
97     32      0.00         0.000
98     17      0.00         0.000

[99 rows x 3 columns]

In [47]:
Y = df.iloc[:, 5]

In [48]:
Y

0     0
1     1
2     0
3     1
4     1
     ..
94    1
95    0
96    0
97    0
98    1
Name: Iconicity followed, Length: 99, dtype: int64

In [49]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.10)

In [50]:
logisticRegr = LogisticRegression()

In [51]:
logisticRegr.fit(x_train, y_train)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [52]:
predictions = logisticRegr.predict(x_test)

In [53]:
score = accuracy_score(y_test, predictions)
print(score)

0.9

In [54]:
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [55]:
regressor = DecisionTreeRegressor()

In [56]:
regressor.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [57]:
y_pred = regressor.predict(x_test)

In [58]:
y_pred

array([0.8, 0.5, 1. , 0.5, 1. , 0. , 0.5, 1. , 1. , 1. ])

In [59]:
y_test

70    1
66    1
85    1
2     0
71    1
40    1
7     1
4     1
59    1
58    1
Name: Iconicity followed, dtype: int64

In [60]:
len(y_pred)

10

In [61]:
for x in range(0,len(y_pred)):
    y_pred[x] = 1 if y_pred[x]>=0.5 else 0

In [62]:
y_pred

array([1., 1., 1., 1., 1., 0., 1., 1., 1., 1.])

In [63]:
score = accuracy_score(y_test, y_pred)
print(score)

0.8

In [64]:
type(y_test)

pandas.core.series.Series

In [65]:
clf = RandomForestClassifier(max_depth=4)

In [66]:
clf.fit(x_train,y_train)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [67]:
rpred = clf.predict(x_test)

In [68]:
score = accuracy_score(y_test, rpred)
print(score)

0.7

In [69]:
rpred

array([1, 0, 1, 0, 1, 0, 0, 1, 1, 1])

In [70]:
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [71]:
y_pred

array([1., 1., 1., 1., 1., 0., 1., 1., 1., 1.])

In [72]:
rpred

array([1, 0, 1, 0, 1, 0, 0, 1, 1, 1])

In [73]:
y_test

70    1
66    1
85    1
2     0
71    1
40    1
7     1
4     1
59    1
58    1
Name: Iconicity followed, dtype: int64

In [74]:
df.corr()

,Adverbial Clause,Main clause,Total,Polarity,Subjectivity,Iconicity followed
Adverbial Clause,1.000000,0.492261,-0.168325,-0.031727,-0.065109,-0.087798
Main clause,0.492261,1.000000,0.022514,-0.054649,0.020924,-0.022021
Total,-0.168325,0.022514,1.000000,-0.046446,0.149121,0.145629
Polarity,-0.031727,-0.054649,-0.046446,1.000000,0.248339,0.059971
Subjectivity,-0.065109,0.020924,0.149121,0.248339,1.000000,0.095231
Iconicity followed,-0.087798,-0.022021,0.145629,0.059971,0.095231,1.000000

In [75]:
df1 = pd.read_csv("friends1.csv")

In [76]:
df1

   Adverbial Clause  Main clause  Total  Polarity  Subjectivity
0               NaN          NaN     42    0.0000        0.0000
1               NaN          NaN     17    0.0000        0.0000
2               NaN          NaN     17    0.0000        0.0000
3               NaN          NaN     11    0.0000        0.0000
4               NaN          NaN     37    0.1428        0.2678

In [77]:
df1 = df1.iloc[:, 2:5]

In [78]:
y_preddf1 = regressor.predict(df1)

In [79]:
y_preddf1

array([1., 1., 1., 0., 0.])

In [80]:
y_preddf1 = regressor.predict(X)

In [81]:
y_preddf1

array([0.5       , 1.        , 0.5       , 1.        , 1.        ,
       1.        , 1.        , 0.5       , 1.        , 0.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 0.        , 0.8       , 0.8       ,
       0.8       , 0.8       , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 0.8       , 1.        ,
       1.        , 1.        , 1.        , 1.        , 0.        ,
       1.        , 1.        , 0.        , 1.        , 0.        ,
       0.        , 0.33333333, 1.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 1.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 1.        , 1.        ,
       0.66666667, 0.        , 0.        , 0.33333333, 1.        ,
       1.        , 0.5       , 1.        , 1.        , 1.        ,
       0.8       , 1.        , 1.        , 0.        , 1.        ,
       0.33333333, 0.        , 0.        , 1.        , 0.        ,
       1.        , 0.66666667, 0.5       , 0.5       , 0.        ,
       1.        , 1.        , 0.5       , 0.        , 1.        ,
       0.66666667, 0.        , 0.        , 0.        , 0.5       ,
       0.        , 0.        , 0.5       , 1.        ])

In [82]:
Y

0     0
1     1
2     0
3     1
4     1
     ..
94    1
95    0
96    0
97    0
98    1
Name: Iconicity followed, Length: 99, dtype: int64